body{
    margin:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    background-color: white;
}
.menu-bar{
    display:flex;
    justify-content: space-between;
    padding: 5px 20px;
    background: linear-gradient(45deg, #bfa5f4 0%, #5d4097 100%);
    align-items: center;
    & h2{
        color: white;
    }
}
.menu{
    justify-content: space-around;
    & ul{
        list-style: none;
        display: flex;
        gap: 20px;
        & a{
            text-decoration: none;
            color:white;
            font-size: 16px;
            font-weight: bold;
            border:solid 2px #6f50ad;
            padding:10px;
            border-radius: 30px;
            box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
            transition: all 0.4s ease;
            &:hover {
                color:#6f50ad ;
                background-color: white;
                box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
               }
            }
        }
    }
    .biografia{
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        & h1{
            color:#6f50ad;
            font-size: 40px;
            margin-bottom: 0;
             }
        & p{
        color:#09090a;
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
       & h2 {
        text-align: start;
        padding: 5px 50px;
        color: #2c0b7a;
       }
      & p{
        padding: 5px 50px;
        text-align: justify;
      }
      & img{
        height: 15vw;
        border-radius: 50%;
        box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
      }
    }
.txt-destaque h1{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.txt-destaque h1:hover{
    transform: scale(1.0) translateY(-5px);
    color:#6390d4;
}
.contato-form{
    margin: 50px auto;
    padding: 20px;
    border: solid 1px #6f50ad;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    margin-bottom: 100px;

    & form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
        justify-content: center;
        margin: 10px auto;

        & input{
            padding: 10px;
            border: solid 1px #6f50ad;
            border-radius: 10px;
        }
    }
}
button {
            border: solid 1px #6f50ad;
            background-color: #6f50ad;
            border-radius:10px;
            color:white;
            font-weight: bold;
            padding:5px;
            }

