.menu-bar{
    display:flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: #bfa5f4;
}
.menu{
    justify-content: space-around;
    & ul{
        list-style: none;
        display: flex;
        gap: 15px;
        & a{
            text-decoration: none;
            color:white;
            font-size: 16px;
            font-weight: bold;
            border:solid 2px #6f50ad;
            padding: 5px 10px;
            border-radius: 30px;
            box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
            transition: all 0.4s ease;
            & hover {
                color:#6f50ad ;
                background-color: white;
               }
            }
        }
    }
    .biografia{
        margin: 0 auto;
        text-align: center;
        & h1{
            color:#6f50ad;
            font-size: 20px;
            margin-bottom: 0;
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        & img{
            border-radius: 15px;
            box-shadow:1px 2px 10px rgba(0,0,0,0.2);
        & p{
            text-align: justify;
            & h2{
                text-align: left;
            }
           }
        }
    }